.nav-circle
{
    cursor: pointer;
    height: auto;
    width: 30px;
    overflow: hidden;
    display: flex;
    min-width: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;;
    display: block;
}

.nav-circle:hover
{
    opacity: 0.8;
}
