<div style="position: relative;">
    <img #bgGame id="bg-game" [src]="bgImage" class="nonDraggableImage" style="width: 100%; height: 100%;">
    <div class="overlay-main score" [ngStyle]="{'font-size': scoreSize+'px', 'top': topOffset+'%'}">
        Score: {{totalScore}}
    </div>
    <div class="overlay-main left">
        Credit Artwork & Music: Riot Games, League of Legends
    </div>
    <div class="overlay-main play">
        <button mat-fab color="accent" type="button" *ngIf="!gameRunning" (click)="startGame()">
            <i class="material-icons">play_arrow</i> 
        </button>
        <button mat-fab color="accent" type="button" *ngIf="gameRunning" 
            [disabled]="dispMsg != ''" (click)="stopGame('Game Over')">
            <i class="material-icons">stop</i> 
        </button> 
    </div>
    <div class="overlay-main hitscore">
        {{hitScore}}&nbsp;
    </div>
    <div class="overlay-main disp-msg" [ngStyle]="{'font-size': displSize+'px'}">
        {{dispMsg}}&nbsp;
    </div>
    <canvas #canvas class="overlay" [ngStyle]="{'transform': 'translate(-50%, -'+downOffset+'%)'}"></canvas>
</div>
<audio #audio id="audio" [src]="songURL" preload="metadata" crossorigin="anonymous"></audio>