<div class="ftop-container" [ngClass]="hS.getInnerWidth() > 1279 ? 'toptop' : 'toptopPadd'">
  <div fxShow="true" fxHide.lt-lg fxFlex="8"></div>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start start">
    <div [ngClass]="hS.getInnerWidth() > 1279 ? 'halfhalf' : 'fullfull'">
      <div>
        <span fxFlex></span>
        <img [src]="faviconImg" class="nav-circle">
        <span fxFlex></span>
      </div>
      <div style="text-align: center;">
        <h2>Hi, I'm Jimmy. Welcome to my blog.</h2>
        <h3 style="padding: 0 12px;">
          I like programming, electronics, and learning new technologies.
          The main purpose of this site is to keep notes on stuff I studied, personal projects, 
          and other open source tech stuff. I'm not active on social media, but have my accounts listed below.
        </h3>
        <div>Email: <a class="frontpage-links" [href]="mailTo" target="_blank">jseto@jimmyseto.com</a></div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="18px" style="margin-top: 24px">
          <div class="logos-signin">
              <a href="https://twitter.com/Jset0" target="_blank"><img [src]="'/assets/twitter.svg'" style="width: 100%; height: auto;"></a>
          </div>
          <div class="logos-signin">
              <a href="https://github.com/JLSeto" target="_blank"><img [src]="'/assets/github.png'" style="width: 100%; height: auto;"></a>
          </div>
          <div class="logos-signin">
              <a href="https://www.linkedin.com/in/jimmy-seto/" target="_blank"><img [src]="'/assets/linkedin.png'" style="width: 100%; height: auto;"></a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!hS.getIsMobile()" [ngClass]="hS.getInnerWidth() > 1279 ? 'halfhalf' : 'fullfull'" >
      <app-frogger ></app-frogger>
    </div>
  </div>
  <div fxShow="true" fxHide.lt-lg fxFlex="8"></div>
</div>